body{
  font-family: monospace;/*Sets the all text in the body section*/
}

.mainheader {
  text-align:center;/*Aligns the text to be centered*/
  font-size: 40px; /*Sets the font size*/
  font-weight: bold; /*Sets the weight of the font to bold*/
}
.grid-container {
  display: grid;/*Becomes a grid container*/
  grid-template-columns: auto auto auto; /*Defines the number of columnns in the grid layout*/
  background-color: #black;/*Sets the background colour to be black*/
  border: 1px solid black; /*Sets a black solid border around the grid */

}
.grid-item {
  background-color: white;/*Sets the background colour to be white*/
  border: 1px solid black;/*Sets a black solid border around the grid */
  padding: 20px;/*Used to create space around content (padding - space inside)- Main grid*/
  font-size: 20px;/*Sets the font size*/
  text-align: center;/*Aligns the text to be centered*/
}
.mainpagename {
  font-weight: bold;/*Sets the weight of the font to bold*/
  font-size: 30px;/*Sets the font size*/
  margin-bottom: 30px;/*Sets the bottom margin to be 30px*/

}
img {
    height: 270px;/*Sets the height of the element to 270*/
    width: 190px;/*Sets the width of the element to 190*/
    margin-left: auto;/*The left margin is calculated by the browser*/
    margin-right: auto;/*The right margin is calculated by the browser*/
    border-radius: 50%;/*Allows for rounded corners on the imagesx*/
    margin-bottom: 30px;/*Sets the bottom margin to be 30px*/
    text-align: center;/*Aligns the text to be centered*/
}

h5{
  margin-bottom: 10px;/*Sets the botom margin to be 10px*/
  margin-top: 10px;/*Sets the top margin to be 10px*/
  text-align: center;/*Aligns the text to be centered*/
}

.modal {
  display: none;/*Hides the elements without having to delete them*/
  position: fixed;/*Positioned relative to the screen - Always stays in the same place when the page is scrolled*/
  z-index: 1;/*Specifies the stack order of an element */
  padding-top: 100px;/*Sets the top padding to be 100px*/
  left: 0;/*Sets the edge of the the modals margin from the edge of the nearest positioned ancestor*/
  top: 0;/*Specifies the distance between the modals margin and then border of the containing block*/
  width: 100%;/*Sets the width of the element to 100*/
  height: 100%;/*Sets the height of the element to 100*/
  overflow: auto;/*If the content overflows from the container then the overflow is clipped and a scroll bar is added
   so the rest of the content can be seen*/
  background-color: rgb(0,0,0);/*background colour value has been expressed as rgb. Supported in all  browsers */
  background-color: rgba(0,0,0,0.4);/*Defines the background colour using the red-green-blue-alpha model */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;/*Sets the background colour to grey*/
  margin: auto;/*Sets the margin of the element to be auto, so the browser will calculate it*/
  padding: 20px;/*Sets the padding to be 20px*/
  border: 1px solid #888;/*Sets a grey solid border with a width of 1px aroudn the content */
  width: 80%;/*Sets the width of the element to 80*/
}

.modelpagename{/*Name tag in the popup*/
  font-family: monospace; /*Sets the font */
  color: #ffffff;/*Sets the font colour to white*/
  background-color: #c99e67;
  border: 7px;/*Sets a border width of 7px; */
  border-style:solid;/*Sets a border to be solid in colour; */
  border-color:#f0f4f7;/*Sets a light greyish blue border around the grid */
}

.popupgrid-container{/*popupgrid container*/
  display: grid;/*Becomes a grid container*/
  grid-template-columns: repeat(4, 1fr);/*Defines the number of columns and rows  in the grid and their dimensions.
  repeat(4) function represents a defined pattern repeated a set number of times.
  1fr represents a column that takes up on fraction unit of the remaining space.*/
  grid-auto-rows: 75px;/*Specifies the size of the rows in a grid container*/
  background-color: #black;/*Sets background colour to black */
  border: 1px solid black;/*Sets a black solid border with a width of 1px */
}

.popupgrid-name {/*popupgrid name*/
  /*Specifies the grid item size and location*/
  /*Defines which column/row the item will start and end on*/
  grid-column-start:1;/*Makes name on popup start on column 1*/
  grid-column-end: 3;/*And end on column 3*/
  grid-row-start: 1;/*Makes name on popup start on row 1*/
  grid-row-end: 4;/*And end on row 4*/
  font-family: monospace;/*Sets the font*/
  color: #ffffff;/*Sets the font colour to white*/
  font-size: 50px;/*Sets the font size*/
  text-decoration: underline;/*Underlines the text*/
  font-weight: bold;/*Sets the weight of the font to bold*/
  background-color: #c99e67;/*Sets the background colour to be gold*/
  border: 7px;/*Sets a border width of 7px; */
  border-style:solid;/*Sets a border to be solid in colour; */
  border-color:#f0f4f7;/*Sets a light greyish blue border around the grid */
  padding: 0.5em;/*Used to create space around content (padding - space inside) - The popup name */
}
.popupgrid-profile-picture {/*popupgrid profile picture*/
  /*Specifies the grid item size and location*/
  /*Defines which column/row the item will start and end on*/
  grid-column-start:3;/*Makes popup profile picture start on column 3*/
  grid-column-end: 5;/*And end on column 5*/
  grid-row-start: 1;/*Makes popup profile picture start on row 1*/
  grid-row-end: 5;/*And end on row 5*/
}
.popupgrid-item-single {/*popupgrid 'subsections' -  Main subsections in the popup*/

  background-color: #AAAAAA;/*Sets the background colour to gray*/
  color:#ffffff;/*Sets font colour to white*/
  margin: 20px 0 0 5px;/*Sets all four margins - 'subsection' boxes*/
}

.title { /*popupgrid titles -  Main titles in the popup*/
  font-weight: bold;/*Sets the weight of the font to bold*/
  border:3px solid black;/*Sets a black solid border with a width of 3px */
  font-size: 30px;/*Sets the font size*/
  background-color: #444444;/*Sets background colour to grey */
}
